ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=db;Username=username;Password=password
KuCoin__ApiKey=your_key
KuCoin__ApiSecret=your_secret
KuCoin__ApiPassphrase=your_passphrase
Telegram__BotToken=123456:telegram_bot_token
Telegram__ChatId=123456789
